.landing-page {
  background-color: #3780B3;
}

.zen-garden {
  background-color: #39a87c;
}

.ruby-terminal {
  background-color: #e94242;
}

.about-me {
  background-color: grey;
}

.contact {
  background-color: black;
  background: linear-gradient(to bottom, black 0%,black 20%,#000000 20%,white 20%,white 100%);
}

.about-me img { 
  border-radius: 10px;
}