// TODO menu links not responsive

@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans');

* { 
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

$grey: rgb(192,192,192);

@import "_header.scss";
// clean up hamburger menu

section {
  height: 100vh;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  @media only screen and (min-width:1120px) {
    flex-flow: row wrap-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .words {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    text-align: left;

    @media only screen and (min-width: 1120px) {
      font-size: 2em;
      width: 45%;
      margin: 0 0 0 2%;
      // flex: 1 1 auto;
    }

    h2 {
      margin-bottom: .4em;
      font-size: .6em;
      color: lightgrey;
    }
    .break {
      margin: .5em 0;
      width: 50%;
      height: 4px;
      border-radius: 2px;
      background-color: white;
      animation: growleft 2s;
      transform-origin: left;
      -webkit-transform-origin: left;
    }

    .under-text {
      display: flex;
      flex-flow: row wrap;

      a {
        background: transparent;
        border-color: white;
        border: solid;
        border-radius: 100px;
        border-width: 2px;
        padding: 8px 20px;
        margin-top: .3em;
        margin-right: 1em;
        vertical-align: center;
        text-transform: lowercase;
        text-decoration: none;
        font-size: .75em;
        font-weight: 700;
        line-height: 1.2em;

        &:hover {
          background: white;
          color: rgb(97, 97, 97);
          border-color: white;
        }
      }

      img {
        margin-right: .5em;
        width: auto;
        height: auto;
        max-height: 1.5em;
        max-width: 1.5em;
      }
      
    }
    
  } 
  img {
    width: auto;
    height: auto;
    max-width: 300px;
    margin: 10px 1% 5% 1%;

    @media only screen and (min-width: 760px) {
      max-width: 600px;
      max-height: 400px;
    }
  }


  .chevron {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: auto;
    
    img {
      width: auto;
      height: auto;
      max-height: 20px;
      max-width: 40px;
    }
  }
}



@import "_landing-page.scss";

.zen-garden {
  background-color: #39a87c;
}

.ruby-terminal {
  background-color: #e94242;
}

.about-me {
  background-color: grey;
}

.contact {
  background-color: black;
}

.about-me img { 
  border-radius: 10px;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeup {
  from {
      opacity:0;
      transform: translate3d(0, 100%, 0);
      -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
      opacity:1;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadedown {
  from {
      opacity:0;
      transform: translate3d(0, -100%, 0);
      -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
      opacity:1;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadedown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes growleft {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}