@import url('https://fonts.googleapis.com/css?family=Montserrat|Work+Sans');

* { 
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

$grey: rgb(192,192,192);

@import "_header.scss";
// clean up hamburger menu

@import "_landing-page.scss";

.zen-garden {
  height: 100vh;
  background-color: lightgreen;
}